
@{
    ViewBag.Title = "Om mig";
}

<h1>Välkommen till Infosidan!</h1>
<p>Här finner du information om mig som person och om mitt Programerings team.</p>
<hr />

<div>
    <h2>Om Mig</h2>
    <hr />
    <h4>Huvudsaklig Sysselsättning:</h4>
    <p>Jag studerar på TE4 just nu på Östra Gymnasiet. Jag är med i programmeringsteamet W.E.I.</p>
</div>

<div>
    <h2>Om W.E.I</h2>
</div>